@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Arimo:400,400italic,700);
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 7, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 9, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 13, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 21, ../scss/style.scss */
h1, h2, h3 {
  font-family: 'Didact Gothic', sans-serif;
}

/* line 27, ../scss/style.scss */
p, li {
  font-family: 'Arimo', sans-serif;
}

/* line 32, ../scss/style.scss */
p {
  line-height: 1.8em;
}

/* line 36, ../scss/style.scss */
.tag {
  color: grey;
}

/* line 41, ../scss/style.scss */
body {
  background: url(../img/blackboard.jpg);
  background-attachment: fixed;
  max-width: 900px;
  margin: 0 auto;
}

/* line 50, ../scss/style.scss */
.wrapper {
  color: white;
  width: 90%;
  margin: 0 auto;
  padding: 0px 15px;
}
/* line 57, ../scss/style.scss */
.wrapper a {
  color: white;
}

/* line 64, ../scss/style.scss */
header {
  text-align: center;
  border: 1px solid white;
  margin-top: 35px;
}
/* line 70, ../scss/style.scss */
header img {
  width: 50%;
  margin: 0 auto;
  margin-top: 18px;
}
/* line 76, ../scss/style.scss */
header h1, header h2 {
  margin-bottom: 30px;
}
/* line 80, ../scss/style.scss */
header a {
  display: block;
  margin-bottom: 18px;
}

/* line 87, ../scss/style.scss */
nav {
  margin-top: 55px;
  margin-bottom: 55px;
  text-align: center;
}
/* line 93, ../scss/style.scss */
nav ul {
  list-style: none;
  padding: 0px;
}
/* line 98, ../scss/style.scss */
nav a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

/* line 109, ../scss/style.scss */
footer {
  border: 1px solid white;
  text-align: center;
  width: 90%;
  color: white;
  margin: 0 auto;
  margin-bottom: 45px;
}
/* line 117, ../scss/style.scss */
footer a {
  color: white;
  display: block;
  margin-bottom: 25px;
}
/* line 124, ../scss/style.scss */
footer img {
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 25px;
  margin-top: 25px;
}

/* line 138, ../scss/style.scss */
.statement img {
  display: block;
  margin: 0 auto;
  width: 90%;
}
/* line 144, ../scss/style.scss */
.statement article {
  margin: 50px 0px;
}

/* line 154, ../scss/style.scss */
.education img, .experiences img {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 45px;
  margin-top: 45px;
}

/* line 167, ../scss/style.scss */
.education p {
  margin-bottom: 75px;
}

/* line 174, ../scss/style.scss */
.experiences h1, .about h1, .education h1 {
  border-bottom: 1px solid white;
}

/* line 184, ../scss/style.scss */
.about img {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 45px;
}

@media screen and (min-width: 750px) {
  /* line 200, ../scss/style.scss */
  header img {
    width: 25%;
    display: inline-block;
    margin-bottom: 18px;
    vertical-align: middle;
  }
  /* line 207, ../scss/style.scss */
  header div {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
  }

  /* line 217, ../scss/style.scss */
  nav li {
    display: inline-block;
    width: 20%;
  }

  /* line 224, ../scss/style.scss */
  footer {
    margin-top: 50px;
  }
  /* line 227, ../scss/style.scss */
  footer img {
    display: none;
  }

  /* line 236, ../scss/style.scss */
  .statement img {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-right: 75px;
  }
  /* line 243, ../scss/style.scss */
  .statement article {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 63%;
  }
  /* line 249, ../scss/style.scss */
  .statement article h2 {
    margin-top: 0;
  }

  /* line 258, ../scss/style.scss */
  .about img {
    width: 30%;
    float: left;
    margin: 0px 25px 0px 0px;
  }

  /* line 268, ../scss/style.scss */
  .education img {
    width: 35%;
    float: right;
    margin: 0px 0px 0px 25px;
    vertical-align: top;
  }
  /* line 275, ../scss/style.scss */
  .education div {
    width: 90%;
    margin: 0 auto;
  }

  /* line 286, ../scss/style.scss */
  .experiences img {
    width: 40%;
    display: inline-block;
    margin: 0 15px 0 15px;
  }
  /* line 293, ../scss/style.scss */
  .experiences h2 {
    margin-top: 50px;
  }
}
