@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Arimo:400,400italic,700);
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 7, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 9, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 13, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 21, ../scss/style.scss */
h1, h2, h3 {
  font-family: 'Didact Gothic', sans-serif;
}

/* line 27, ../scss/style.scss */
p, li {
  font-family: 'Arimo', sans-serif;
}

/* line 32, ../scss/style.scss */
p {
  line-height: 1.8em;
}

/* line 36, ../scss/style.scss */
body {
  background: url(../img/blackboard.jpg);
  background-attachment: fixed;
}

/* line 43, ../scss/style.scss */
.wrapper {
  color: white;
  width: 90%;
  margin: 0 auto;
  padding: 0px 15px;
}
/* line 50, ../scss/style.scss */
.wrapper a {
  color: white;
}

/* line 57, ../scss/style.scss */
header {
  text-align: center;
  border: 1px solid white;
  margin-top: 35px;
}
/* line 63, ../scss/style.scss */
header img {
  width: 50%;
  margin: 0 auto;
  margin-top: 18px;
}
/* line 69, ../scss/style.scss */
header h1, header h2 {
  margin-bottom: 30px;
}
/* line 73, ../scss/style.scss */
header a {
  display: block;
  margin-bottom: 18px;
}

/* line 80, ../scss/style.scss */
nav {
  margin-top: 55px;
  margin-bottom: 55px;
  text-align: center;
}
/* line 85, ../scss/style.scss */
nav ul {
  list-style: none;
  padding: 0px;
}
/* line 90, ../scss/style.scss */
nav a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

/* line 101, ../scss/style.scss */
footer {
  border: 1px solid white;
  text-align: center;
  width: 90%;
  color: white;
  margin: 0 auto;
  margin-bottom: 45px;
}
/* line 109, ../scss/style.scss */
footer a {
  color: white;
  display: block;
  margin-bottom: 25px;
}
/* line 116, ../scss/style.scss */
footer img {
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 25px;
  margin-top: 25px;
}

/* line 130, ../scss/style.scss */
.statement img {
  display: block;
  margin: 0 auto;
  width: 90%;
}
/* line 136, ../scss/style.scss */
.statement article {
  margin: 50px 0px;
}

/* line 146, ../scss/style.scss */
.education img, .experiences img {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 45px;
  margin-top: 45px;
}

/* line 159, ../scss/style.scss */
.education p {
  margin-bottom: 75px;
}

/* line 166, ../scss/style.scss */
.experiences h1, .about h1, .education h1 {
  border-bottom: 1px solid white;
}

/* line 176, ../scss/style.scss */
.about img {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 45px;
}
